KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:8000/auth/kakao/callback
SEOUL_OPENAPI_KEY=
ODSAY_API_KEY=
PLAYMCP_DB_PATH=./playmcp.db
PLAYMCP_USER_ID_HEADERS=
REQUIRE_USER_ID_HEADER=
MAX_REQUEST_BYTES=262144
MAX_BATCH_REQUESTS=20
TOKEN_ENCRYPTION_KEY=
ALLOWED_ORIGINS=
TASK_RUN_SECRET=
